# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 75b11f070469acff49152643e8e8e8eec3bf802897e7300add4d94534837bf28ad5b342e1bb8d4d85199a60ba0883f571de68deb9873330ab1b80d70f8197b31

test:
  secret_key_base: 9503c8d135e150355a036eb7881d9f2c47bc4f60079701b51bede5e6d63f9707e88f4c02550cbbff194526a6f4bbec368726256aa7922de5b618721a8de754dd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
